<div align="center">
  <button type="button" ng-click="back()" class="pure-button pure-button-primary">Back</button>
</div>

<div id="content">
  <center><h1>{{content.subject}}</h1></center>
  <hr style="border-top: dotted 1px;" />

  <center><h3>Story of an Awesome journey!</h3></center>
  <h4>{{content.preface}}</h4>

  <center><h3>It has been a great experience!</h3></center>
  <h4>{{content.experience}}</h4>

  <center><h3>Feeling of gratitude!</h3></center>
  <h4>{{content.attribution}}</h4>

  <center><h3>It is not the End!</h3></center>
  <h4>{{content.conclusion}}</h4>

  <center><h3>You can always reach out to me!</h3></center>
  <h4>{{content.contact}}</h4>
`
</div>

<div align="center">
  <button type="button" ng-click="back()" class="pure-button pure-button-primary">Back</button>
</div>
